.movieDetails {
  display: flex;
}
.poster {
  margin-right: 20px;
}

.genresList {
  display: flex;
}
.genresList li:not(:last-child) {
  margin-right: 20px;
}

.title,.rating,.overViewTitle,.overViewContent,.genresTitle {
  margin-bottom: 10px;
}

.genresBlock {
  margin-bottom: 20px;
}