.navList {
  display: flex;
}

.navList li:not(:last-child) {
  margin-right: 20px;
}

.navListItem {
  cursor: pointer;
}

.navLink {
  color: #000;
}
.activeNavLink {
  color: #cd1a4e;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}